*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/cosm-common/target/
/cosm-admin/target/
/cosm-lifting/target/
/cosm-entitlement/target/cosm-common/nb-configuration.xml
cosm-entitlement/.gitignore
cosm-entitlement/src/main/resources/rebel.xml
cosm-common/nb-configuration.xml
cosm-entitlement/target/
cosm-admin/nb-configuration.xml
cosm-entitlement/nb-configuration.xml
cosm-lifting/nb-configuration.xml

/.idea/
*.iml
